<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="{{ 'dark-mode' if modo_oscuro == 'true' else '' }}">

    <!-- Botón para alternar modo oscuro y claro -->
    <button id="modo-toggle" onclick="cambiarModo()">
        <span class="material-symbols-outlined moon" id="icono-modo">nightlight_round</span>
        <span class="material-symbols-outlined sun" id="icono-modo">wb_sunny</span>
    </button>

    <div class="contenido">
        {% if usuario %}
            <div class="mensaje-bienvenida">
                <p>¡Bienvenido, {{ usuario }}!</p>
            </div>
            <div class="botones">
                <a href="{{ url_for('index') }}">
                    <button class="button">Predicciones CSV</button>
                </a>
                <a href="{{ url_for('predecir_individual') }}">
                    <button class="button">Predecir Individualmente</button>
                </a>
                <a href="{{ url_for('mostrar_historial') }}">
                    <button class="button">Ver Historial de Usuarios</button>
                </a>
                <a href="{{ url_for('logout') }}">
                    <button class="button">Cerrar sesión</button>
                </a>
            </div>
            
        {% else %}
            <div class="mensaje-bienvenida">
                <p>Ingrese nombre de usuario</p>
                <form action="/" method="post">
                    <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" required>
                    <button class="boton_ingreso" type="submit">Ingresar</button>
                </form>
            </div>
        {% endif %}
    </div>

    <script>
        function cambiarModo() {
            const body = document.body;
            const modoOscuro = body.classList.contains("dark-mode");

            body.classList.toggle("dark-mode", !modoOscuro);
            localStorage.setItem("modo_oscuro", !modoOscuro);

            document.querySelector(".sun").style.display = modoOscuro ? "block" : "none";
            document.querySelector(".moon").style.display = modoOscuro ? "none" : "block";
        }

        document.addEventListener("DOMContentLoaded", function() {
            const modoOscuro = localStorage.getItem("modo_oscuro") === "true";
            document.body.classList.toggle("dark-mode", modoOscuro);

            document.querySelector(".sun").style.display = modoOscuro ? "none" : "block";
            document.querySelector(".moon").style.display = modoOscuro ? "block" : "none";
        });
    </script>
    
</body>
</html>
